{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "ignorePatterns": ["stryker.config.mjs"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "no-relative-import-paths"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "no-relative-import-paths/no-relative-import-paths": [
      "warn",
      {
        "allowSameFolder": true,
        "prefix": "@src",
        "rootDir": "src"
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@nestjs/config",
            "importNames": ["ConfigModule", "ConfigService"],
            "message": "Please use classes from @src/shared/module/config instead"
          }
        ]
      }
    ]
  }
}
